/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 1130px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.inline-block-w {
  display: inline-block;
  width: 100%;
}