<template name="register1">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <img src="/images/BL_Logo_transparent.png" alt="Buzzlogix Transparent Logo" style="width:300px;height:108px;;">
        </div>
        <h3>Register to Buzzlogix's Social Media Monitor</h3>

        <p>Create account to see it in action.</p>

        <form class="m-t" role="form" id="form" action="#">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" required name="name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Surname" required name="surname">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Company" required name="company">
            </div>
            <!--<div class="form-group">-->
                <!--<input type="text" class="form-control" placeholder="group" required="" name="group">-->
            <!--</div>-->
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" required name="email">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" required name="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required name="password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" required name="confirmPassword">
            </div>
            <!--<div class="form-group">
                <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Agree the terms and policy
                </label></div>
            </div>-->
            <button type="submit" class="btn btn-primary block full-width m-b registerbtn">Register</button>

            <p class="text-muted text-center">
                <small>Already have an account?</small>
            </p>
            <a class="btn btn-lightblue btn-block" href="{{pathFor route='login'}}">Login</a>
        </form>
        <p class="m-t">
            <small>Buzzlogix &copy; 2016</small>
        </p>
    </div>
</template>