.timelineItem{
  margin-right: 10px;
  h2 {
    margin-top: 0;
    font-size: 18px;
    font-weight: 600;
  }
  h4 {
    font-weight: 300;
  }
  h2, h4 {
    display: block;
    clear: both;
    margin-bottom: 0;
    font-weight: 400;
  }
  .timelineItemImage {
    img {
      height: 42px;
      width: 42px;
      border-radius: 50%;
    }
  }
  .timelineItemImage.pull-left {
    margin-right: 10px;
  }
  .timelineItemHeader {
    width: 100%;
    display: inline-block;
    h2 {
      font-size: 16px;
      a {
        color: #676a6c;
      }
      a:hover {
        color: #337ab7;
      }
    }
  }
  .pull-left {
    margin: 0;
  }
  .timelineItemText {
    word-wrap: break-word;
    overflow:hidden;
    font-size:14px;
    .timelineItemMainImage {
      float:left;
      margin: 0 10px 10px 0;
      max-width:150px;
      height:auto;
    }

  }
  .timelineItemText.collapsed {
    max-height:80px;

  }
  .tlReadM {
    float: right;

  }
  .btn-ssm, .btn-group-ssm > .btn {
    padding: 3px 5px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 3px;
    font-weight: 300;
    margin: -8px 0 0;
    i {
      font-weight: 300;
      margin-right:3px;
    }
  }
  input[type="text"][disabled] {
    color: #2f4050;
  }
  input[type="text"][disabled]:hover {
    cursor: default;
  }
}

.vertical-timeline-icon i {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -7px;
  color: #fff;
}



.vertical-container {
  max-width: 1220px;
}

.vertical-timeline-content {
  margin-right: 180px;
  margin-left: 170px;
}
.vertical-timeline-actions {
  position: absolute;
  width: 180px;
  right:0;
  top: 0;
  select {
    width:100%;
  }
  .input-group-addon {
    background-color: #fff;
    border: 1px solid #E5E6E7;
    border-radius: 1px;
    color: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    padding: 6px 10px;
    text-align: center;
  }

}

#vertical-timeline::before {
  left: 138px;
}
.vertical-timeline-icon {
  left: 120px;
}
.vertical-timeline-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 40px;
  font-size: 16px;
  text-align: right;
}
.vertical-timeline-left-source {
  font-weight: 600;
font-size: 14px;
}
.vertical-timeline-left-days {
  text-transform: uppercase;
  font-size: 14px;
}
.newStreamBtn, .streamSelectorGroup {
  margin-bottom: 0;
}
.streamSelectorBox {
  font-size: 18px;
}
select.streamSelector {
  height: 51px;
  line-height: 51px;
  width: 410px!important;
}
select.streamSelector option {
  font-size: 16px;
}
.vertical-timeline-content-separator {
  text-align: center;
  width:100%;
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #ccc;
}
.vertical-timeline-content p {
  margin: 10px 0;
  line-height: 1.6;
}
.refreshStreamBtn {
  height: 51px;
  width: 51px;
  margin-left: 10px;
}
.streamActions {
  height: 51px;
  width:130px;
  line-height: 51px;
  .btn {
    margin-bottom: 0;
    height: 51px;
    border-left: none;
    font-size: 16px;
  }
  .btn:hover {
    border-left: none;
  }
}

.lightBoxGallery > a img {
  max-height: 100px;
  widtj: auto;
}
.vertical-timeline-content .vertical-date {
  float: left;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 10px;
  small{
    font-size: 98%;
  }
}