<template name="footer">

    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>

    <div class="footer">
        <div class="pull-right">
            Tier: <strong>{{tier}}</strong>.
        </div>
        <div>
            <strong>Copyright</strong> Buzzlogix &copy; 2016
        </div>
    </div>

</template>