<template name="createUser">
    {{> pageHeading title='Create User' }}

    <div class="middle-box text-center loginscreen animated fadeInDown" style="width: 400px">
        <form class="m-t" role="form" action="#">
            <h2>Create new user for {{company}}</h2>
            <div class="form-group">
                <select class="form-control m-b streamSelector input-lg" style="width:200px;" name="role">
                    <option value='NONE'>Select Role</option>
                    <option value='EDITOR'>Editor</option>
                    <option value='VIEWER'>Viewer</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control m-b streamSelector input-lg" style="width:200px;">
                    <option value='Ms'>Ms</option>
                    <option value='Mrs'>Mrs</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" required="" name="name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Surname" required="" name="surname">
            </div>
<!--            <div class="form-group">
                <select style="width:200px;" name="title">
                    <option value='NONE'>Select Title</option>
                    <option value='Mr'>Mr.</option>
                    <option value='Mrs'>Mrs.</option>
                </select>
            </div>
            <div class="form-group">
                <select data-placeholder="Choose Language..." class="chosen-select filtersSelect filtersLanguage" multiple style="width:100%;" tabindex="1">
                    <option value='sq'>Albanian</option>
                    <option value='ar'>Arabic</option>
                    <option value='be'>Belarusian</option>
                    <option value='bg'>Bulgarian</option>
                    <option value='ca'>Catalan</option>
                    <option value='zh'>Chinese</option>
                    <option value='hr'>Croatian</option>
                    <option value='cs'>Czech</option>
                    <option value='da'>Danish</option>
                    <option value='nl'>Dutch</option>
                    <option value='en'>English</option>
                    <option value='et'>Estonian</option>
                    <option value='fi'>Finnish</option>
                    <option value='fr'>French</option>
                    <option value='de'>German</option>
                    <option value='el'>Greek</option>
                    <option value='iw'>Hebrew</option>
                    <option value='hi'>Hindi</option>
                    <option value='hu'>Hungarian</option>
                    <option value='is'>Icelandic</option>
                    <option value='in'>Indonesian</option>
                    <option value='ga'>Irish</option>
                    <option value='it'>Italian</option>
                    <option value='it'>Italian</option>
                    <option value='ja'>Japanese</option>
                    <option value='ko'>Korean</option>
                    <option value='lv'>Latvian</option>
                    <option value='lt'>Lithuanian</option>
                    <option value='ms'>Malay</option>
                    <option value='mt'>Maltese</option>
                    <option value='no'>Norwegian</option>
                    <option value='pl'>Polish</option>
                    <option value='pt'>Portuguese</option>
                    <option value='ro'>Romanian</option>
                    <option value='ru'>Russian</option>
                    <option value='sr'>Serbian</option>
                    <option value='sk'>Slovak</option>
                    <option value='sl'>Slovenian</option>
                    <option value='es'>Spanish</option>
                    <option value='sv'>Swedish</option>
                    <option value='th'>Thai</option>
                    <option value='tr'>Turkish</option>
                    <option value='uk'>Ukrainian</option>
                    <option value='vi'>Vietnamese</option>
                </select>
            </div>-->
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" required="" name="email">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" required="" name="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="" name="password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" required="" name="confirmPassword">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b registerbtn">Create User</button>
        </form>
    </div>
</template>