<template name="forgotPassword">
    <div class="passwordBox animated fadeInDown">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox-content">
                    <h2 class="font-bold">Forgot password</h2>
                    <p>For will be reset your password must enter your email address and your username.</p>
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="m-t" role="form">
                                <div class="form-group"><input type="email" name="email" class="form-control" placeholder="Email address" required=""></div>
                                <div class="form-group"><input type="text" name="username" class="form-control" placeholder="Username" required=""></div>
                                <div class="form-group text-center"><a href="{{pathFor route='login'}}"><small>Return to login</small></a></div>
                                <button type="submit" class="btn btn-primary block full-width m-b">Create new password</button>
                            </form>
                            <p><small>Buzzlogix &copy; 2016</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>