<template name="listenViewTimeline">

    <!-- Page heading
    {{> pageHeading title='Timeline' category='Listen' }}
    -->
    <div class="sidebard-panel" style="position: fixed">


        <div class="m-t-md">
            <h4>Filters</h4>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="font-noraml">Source</label>

                <select data-placeholder="Choose Source..." class="chosen-select filtersSelect filtersSource" multiple
                        style="width:100%;" tabindex="1">
                    <option value="source:TWITTER">Twitter</option>
                    <option value="source:NEWS">News</option>
                    <option value="source:BLOGS">Blogs</option>
                    <option value="source:DISCUSSIONS">Forums</option>
                </select>

            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group">
                <label class="font-noraml">Country</label>

                <select data-placeholder="Choose Countries..." class="chosen-select filtersSelect countrySource"
                        multiple style="width:100%;" tabindex="2">
                    <option value="location:United States">United States</option>
                    <option value="location:United Kingdom">United Kingdom</option>
                    <option value="location:Afghanistan">Afghanistan</option>
                    <option value="location:Aland Islands">Aland Islands</option>
                    <option value="location:Albania">Albania</option>
                    <option value="location:Algeria">Algeria</option>
                    <option value="location:American Samoa">American Samoa</option>
                    <option value="location:Andorra">Andorra</option>
                    <option value="location:Angola">Angola</option>
                    <option value="location:Anguilla">Anguilla</option>
                    <option value="location:Antarctica">Antarctica</option>
                    <option value="location:Antigua and Barbuda">Antigua and Barbuda</option>
                    <option value="location:Argentina">Argentina</option>
                    <option value="location:Armenia">Armenia</option>
                    <option value="location:Aruba">Aruba</option>
                    <option value="location:Australia">Australia</option>
                    <option value="location:Austria">Austria</option>
                    <option value="location:Azerbaijan">Azerbaijan</option>
                    <option value="location:Bahamas">Bahamas</option>
                    <option value="location:Bahrain">Bahrain</option>
                    <option value="location:Bangladesh">Bangladesh</option>
                    <option value="location:Barbados">Barbados</option>
                    <option value="location:Belarus">Belarus</option>
                    <option value="location:Belgium">Belgium</option>
                    <option value="location:Belize">Belize</option>
                    <option value="location:Benin">Benin</option>
                    <option value="location:Bermuda">Bermuda</option>
                    <option value="location:Bhutan">Bhutan</option>
                    <option value="location:Bolivia, Plurinational State of">Bolivia, Plurinational State of</option>
                    <option value="location:Bonaire, Sint Eustatius and Saba">Bonaire, Sint Eustatius and Saba</option>
                    <option value="location:Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                    <option value="location:Botswana">Botswana</option>
                    <option value="location:Bouvet Island">Bouvet Island</option>
                    <option value="location:Brazil">Brazil</option>
                    <option value="location:British Indian Ocean Territory">British Indian Ocean Territory</option>
                    <option value="location:Brunei Darussalam">Brunei Darussalam</option>
                    <option value="location:Bulgaria">Bulgaria</option>
                    <option value="location:Burkina Faso">Burkina Faso</option>
                    <option value="location:Burundi">Burundi</option>
                    <option value="location:Cambodia">Cambodia</option>
                    <option value="location:Cameroon">Cameroon</option>
                    <option value="location:Canada">Canada</option>
                    <option value="location:Cape Verde">Cape Verde</option>
                    <option value="location:Cayman Islands">Cayman Islands</option>
                    <option value="location:Central African Republic">Central African Republic</option>
                    <option value="location:Chad">Chad</option>
                    <option value="location:Chile">Chile</option>
                    <option value="location:China">China</option>
                    <option value="location:Christmas Island">Christmas Island</option>
                    <option value="location:Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                    <option value="location:Colombia">Colombia</option>
                    <option value="location:Comoros">Comoros</option>
                    <option value="location:Congo">Congo</option>
                    <option value="location:Congo, The Democratic Republic of The">Congo, The Democratic Republic of
                        The
                    </option>
                    <option value="location:Cook Islands">Cook Islands</option>
                    <option value="location:Costa Rica">Costa Rica</option>
                    <option value="location:Cote D'ivoire">Cote D'ivoire</option>
                    <option value="location:Croatia">Croatia</option>
                    <option value="location:Cuba">Cuba</option>
                    <option value="location:Curacao">Curacao</option>
                    <option value="location:Cyprus">Cyprus</option>
                    <option value="location:Czech Republic">Czech Republic</option>
                    <option value="location:Denmark">Denmark</option>
                    <option value="location:Djibouti">Djibouti</option>
                    <option value="location:Dominica">Dominica</option>
                    <option value="location:Dominican Republic">Dominican Republic</option>
                    <option value="location:Ecuador">Ecuador</option>
                    <option value="location:Egypt">Egypt</option>
                    <option value="location:El Salvador">El Salvador</option>
                    <option value="location:Equatorial Guinea">Equatorial Guinea</option>
                    <option value="location:Eritrea">Eritrea</option>
                    <option value="location:Estonia">Estonia</option>
                    <option value="location:Ethiopia">Ethiopia</option>
                    <option value="location:Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                    <option value="location:Faroe Islands">Faroe Islands</option>
                    <option value="location:Fiji">Fiji</option>
                    <option value="location:Finland">Finland</option>
                    <option value="location:France">France</option>
                    <option value="location:French Guiana">French Guiana</option>
                    <option value="location:French Polynesia">French Polynesia</option>
                    <option value="location:French Southern Territories">French Southern Territories</option>
                    <option value="location:Gabon">Gabon</option>
                    <option value="location:Gambia">Gambia</option>
                    <option value="location:Georgia">Georgia</option>
                    <option value="location:Germany">Germany</option>
                    <option value="location:Ghana">Ghana</option>
                    <option value="location:Gibraltar">Gibraltar</option>
                    <option value="location:Greece">Greece</option>
                    <option value="location:Greenland">Greenland</option>
                    <option value="location:Grenada">Grenada</option>
                    <option value="location:Guadeloupe">Guadeloupe</option>
                    <option value="location:Guam">Guam</option>
                    <option value="location:Guatemala">Guatemala</option>
                    <option value="location:Guernsey">Guernsey</option>
                    <option value="location:Guinea">Guinea</option>
                    <option value="location:Guinea-bissau">Guinea-bissau</option>
                    <option value="location:Guyana">Guyana</option>
                    <option value="location:Haiti">Haiti</option>
                    <option value="location:Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands
                    </option>
                    <option value="location:Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                    <option value="location:Honduras">Honduras</option>
                    <option value="location:Hong Kong">Hong Kong</option>
                    <option value="location:Hungary">Hungary</option>
                    <option value="location:Iceland">Iceland</option>
                    <option value="location:India">India</option>
                    <option value="location:Indonesia">Indonesia</option>
                    <option value="location:Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                    <option value="location:Iraq">Iraq</option>
                    <option value="location:Ireland">Ireland</option>
                    <option value="location:Isle of Man">Isle of Man</option>
                    <option value="location:Israel">Israel</option>
                    <option value="location:Italy">Italy</option>
                    <option value="location:Jamaica">Jamaica</option>
                    <option value="location:Japan">Japan</option>
                    <option value="location:Jersey">Jersey</option>
                    <option value="location:Jordan">Jordan</option>
                    <option value="location:Kazakhstan">Kazakhstan</option>
                    <option value="location:Kenya">Kenya</option>
                    <option value="location:Kiribati">Kiribati</option>
                    <option value="location:Korea, Democratic People's Republic of">Korea, Democratic People's Republic
                        of
                    </option>
                    <option value="location:Korea, Republic of">Korea, Republic of</option>
                    <option value="location:Kuwait">Kuwait</option>
                    <option value="location:Kyrgyzstan">Kyrgyzstan</option>
                    <option value="location:Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                    <option value="location:Latvia">Latvia</option>
                    <option value="location:Lebanon">Lebanon</option>
                    <option value="location:Lesotho">Lesotho</option>
                    <option value="location:Liberia">Liberia</option>
                    <option value="location:Libya">Libya</option>
                    <option value="location:Liechtenstein">Liechtenstein</option>
                    <option value="location:Lithuania">Lithuania</option>
                    <option value="location:Luxembourg">Luxembourg</option>
                    <option value="location:Macao">Macao</option>
                    <option value="location:Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav
                        Republic of
                    </option>
                    <option value="location:Madagascar">Madagascar</option>
                    <option value="location:Malawi">Malawi</option>
                    <option value="location:Malaysia">Malaysia</option>
                    <option value="location:Maldives">Maldives</option>
                    <option value="location:Mali">Mali</option>
                    <option value="location:Malta">Malta</option>
                    <option value="location:Marshall Islands">Marshall Islands</option>
                    <option value="location:Martinique">Martinique</option>
                    <option value="location:Mauritania">Mauritania</option>
                    <option value="location:Mauritius">Mauritius</option>
                    <option value="location:Mayotte">Mayotte</option>
                    <option value="location:Mexico">Mexico</option>
                    <option value="location:Micronesia, Federated States of">Micronesia, Federated States of</option>
                    <option value="location:Moldova, Republic of">Moldova, Republic of</option>
                    <option value="location:Monaco">Monaco</option>
                    <option value="location:Mongolia">Mongolia</option>
                    <option value="location:Montenegro">Montenegro</option>
                    <option value="location:Montserrat">Montserrat</option>
                    <option value="location:Morocco">Morocco</option>
                    <option value="location:Mozambique">Mozambique</option>
                    <option value="location:Myanmar">Myanmar</option>
                    <option value="location:Namibia">Namibia</option>
                    <option value="location:Nauru">Nauru</option>
                    <option value="location:Nepal">Nepal</option>
                    <option value="location:Netherlands">Netherlands</option>
                    <option value="location:New Caledonia">New Caledonia</option>
                    <option value="location:New Zealand">New Zealand</option>
                    <option value="location:Nicaragua">Nicaragua</option>
                    <option value="location:Niger">Niger</option>
                    <option value="location:Nigeria">Nigeria</option>
                    <option value="location:Niue">Niue</option>
                    <option value="location:Norfolk Island">Norfolk Island</option>
                    <option value="location:Northern Mariana Islands">Northern Mariana Islands</option>
                    <option value="location:Norway">Norway</option>
                    <option value="location:Oman">Oman</option>
                    <option value="location:Pakistan">Pakistan</option>
                    <option value="location:Palau">Palau</option>
                    <option value="location:Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                    <option value="location:Panama">Panama</option>
                    <option value="location:Papua New Guinea">Papua New Guinea</option>
                    <option value="location:Paraguay">Paraguay</option>
                    <option value="location:Peru">Peru</option>
                    <option value="location:Philippines">Philippines</option>
                    <option value="location:Pitcairn">Pitcairn</option>
                    <option value="location:Poland">Poland</option>
                    <option value="location:Portugal">Portugal</option>
                    <option value="location:Puerto Rico">Puerto Rico</option>
                    <option value="location:Qatar">Qatar</option>
                    <option value="location:Reunion">Reunion</option>
                    <option value="location:Romania">Romania</option>
                    <option value="location:Russian Federation">Russian Federation</option>
                    <option value="location:Rwanda">Rwanda</option>
                    <option value="location:Saint Barthelemy">Saint Barthelemy</option>
                    <option value="location:Saint Helena, Ascension and Tristan da Cunha">Saint Helena, Ascension and
                        Tristan da Cunha
                    </option>
                    <option value="location:Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                    <option value="location:Saint Lucia">Saint Lucia</option>
                    <option value="location:Saint Martin (French part)">Saint Martin (French part)</option>
                    <option value="location:Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                    <option value="location:Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
                    <option value="location:Samoa">Samoa</option>
                    <option value="location:San Marino">San Marino</option>
                    <option value="location:Sao Tome and Principe">Sao Tome and Principe</option>
                    <option value="location:Saudi Arabia">Saudi Arabia</option>
                    <option value="location:Senegal">Senegal</option>
                    <option value="location:Serbia">Serbia</option>
                    <option value="location:Seychelles">Seychelles</option>
                    <option value="location:Sierra Leone">Sierra Leone</option>
                    <option value="location:Singapore">Singapore</option>
                    <option value="location:Sint Maarten (Dutch part)">Sint Maarten (Dutch part)</option>
                    <option value="location:Slovakia">Slovakia</option>
                    <option value="location:Slovenia">Slovenia</option>
                    <option value="location:Solomon Islands">Solomon Islands</option>
                    <option value="location:Somalia">Somalia</option>
                    <option value="location:South Africa">South Africa</option>
                    <option value="location:South Georgia and The South Sandwich Islands">South Georgia and The South
                        Sandwich Islands
                    </option>
                    <option value="location:South Sudan">South Sudan</option>
                    <option value="location:Spain">Spain</option>
                    <option value="location:Sri Lanka">Sri Lanka</option>
                    <option value="location:Sudan">Sudan</option>
                    <option value="location:Suriname">Suriname</option>
                    <option value="location:Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                    <option value="location:Swaziland">Swaziland</option>
                    <option value="location:Sweden">Sweden</option>
                    <option value="location:Switzerland">Switzerland</option>
                    <option value="location:Syrian Arab Republic">Syrian Arab Republic</option>
                    <option value="location:Taiwan, Province of China">Taiwan, Province of China</option>
                    <option value="location:Tajikistan">Tajikistan</option>
                    <option value="location:Tanzania, United Republic of">Tanzania, United Republic of</option>
                    <option value="location:Thailand">Thailand</option>
                    <option value="location:Timor-leste">Timor-leste</option>
                    <option value="location:Togo">Togo</option>
                    <option value="location:Tokelau">Tokelau</option>
                    <option value="location:Tonga">Tonga</option>
                    <option value="location:Trinidad and Tobago">Trinidad and Tobago</option>
                    <option value="location:Tunisia">Tunisia</option>
                    <option value="location:Turkey">Turkey</option>
                    <option value="location:Turkmenistan">Turkmenistan</option>
                    <option value="location:Turks and Caicos Islands">Turks and Caicos Islands</option>
                    <option value="location:Tuvalu">Tuvalu</option>
                    <option value="location:Uganda">Uganda</option>
                    <option value="location:Ukraine">Ukraine</option>
                    <option value="location:United Arab Emirates">United Arab Emirates</option>
                    <option value="location:United Kingdom">United Kingdom</option>
                    <option value="location:United States">United States</option>
                    <option value="location:United States Minor Outlying Islands">United States Minor Outlying Islands
                    </option>
                    <option value="location:Uruguay">Uruguay</option>
                    <option value="location:Uzbekistan">Uzbekistan</option>
                    <option value="location:Vanuatu">Vanuatu</option>
                    <option value="location:Venezuela, Bolivarian Republic of">Venezuela, Bolivarian Republic of
                    </option>
                    <option value="location:Viet Nam">Viet Nam</option>
                    <option value="location:Virgin Islands, British">Virgin Islands, British</option>
                    <option value="location:Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                    <option value="location:Wallis and Futuna">Wallis and Futuna</option>
                    <option value="location:Western Sahara">Western Sahara</option>
                    <option value="location:Yemen">Yemen</option>
                    <option value="location:Zambia">Zambia</option>
                    <option value="location:Zimbabwe">Zimbabwe</option>
                </select>

            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="font-noraml">Language</label>

                <select data-placeholder="Choose Language..." class="chosen-select filtersSelect filtersLanguage"
                        multiple style="width:100%;" tabindex="1">
                    <option value='language:sq'>Albanian</option>
                    <option value='language:ar'>Arabic</option>
                    <option value='language:be'>Belarusian</option>
                    <option value='language:bg'>Bulgarian</option>
                    <option value='language:ca'>Catalan</option>
                    <option value='language:zh'>Chinese</option>
                    <option value='language:hr'>Croatian</option>
                    <option value='language:cs'>Czech</option>
                    <option value='language:da'>Danish</option>
                    <option value='language:nl'>Dutch</option>
                    <option value='language:en'>English</option>
                    <option value='language:et'>Estonian</option>
                    <option value='language:fi'>Finnish</option>
                    <option value='language:fr'>French</option>
                    <option value='language:de'>German</option>
                    <option value='language:el'>Greek</option>
                    <option value='language:iw'>Hebrew</option>
                    <option value='language:hi'>Hindi</option>
                    <option value='language:hu'>Hungarian</option>
                    <option value='language:is'>Icelandic</option>
                    <option value='language:in'>Indonesian</option>
                    <option value='language:ga'>Irish</option>
                    <option value='language:it'>Italian</option>
                    <option value='language:it'>Italian</option>
                    <option value='language:ja'>Japanese</option>
                    <option value='language:ko'>Korean</option>
                    <option value='language:lv'>Latvian</option>
                    <option value='language:lt'>Lithuanian</option>
                    <option value='language:ms'>Malay</option>
                    <option value='language:mt'>Maltese</option>
                    <option value='language:no'>Norwegian</option>
                    <option value='language:pl'>Polish</option>
                    <option value='language:pt'>Portuguese</option>
                    <option value='language:ro'>Romanian</option>
                    <option value='language:ru'>Russian</option>
                    <option value='language:sr'>Serbian</option>
                    <option value='language:sk'>Slovak</option>
                    <option value='language:sl'>Slovenian</option>
                    <option value='language:es'>Spanish</option>
                    <option value='language:sv'>Swedish</option>
                    <option value='language:th'>Thai</option>
                    <option value='language:tr'>Turkish</option>
                    <option value='language:uk'>Ukrainian</option>
                    <option value='language:vi'>Vietnamese</option>
                </select>

            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="font-noraml">Tags</label>
                <select data-placeholder="Choose Tags..." class="chosen-select filtersSelect tagsSource" multiple
                        style="width:100%;" tabindex="1">
                    <option value="tag1">Tag1</option>
                </select>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
    </div>
    <div class="wrapper wrapper-content timelineContent" id="timelineContentArea">
        <div class="row animated fadeInRight">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content inline-block-w">
                        <p class="input-group pull-left streamSelectorGroup">
                            <span class="input-group-addon streamSelectorBox"><i class="fa fa-random"></i></span>
                            <select data-placeholder="Select stream" class="form-control m-b streamSelector input-lg" tabindex="1">
                                {{#each timelineStreams}}
                                <option value="{{this.id}}">{{this.name}} ({{this.id}})</option>
                                {{/each}}
                            </select>
                        <div class="input-group-btn pull-left streamActions">
                            <button id="actions" data-toggle="dropdown" class="btn btn-white dropdown-toggle btn-lg" type="button">Actions <span class="caret"></span></button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#" class="addNewStream">Add new Stream</a></li>
                                <!--<li><a href="#" class="editStream" data-toggle="modal" data-target="#editStream">Edit Stream</a></li>-->
                                <!--<li><a href="#" class="deleteStream">Delete Stream</a></li>-->
                                <li class="divider"></li>
                                <li><a href="#" class="refreshStream">Refresh Stream</a></li>
                                <li><a href="#" class="startStream">Start Stream</a></li>
                                <li><a href="#" class="stopStream">Stop Stream</a></li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-primary btn-lg refreshStreamBtn pull-lrft"><i class="fa fa-refresh"></i></button> 
                        <!--                        <button type="button" class="btn btn-primary btn-lg newStreamBtn pull-right" data-toggle="modal"
                                                        data-target="#newStream"><i class="fa fa-plus-square-o"></i>&nbsp;New Stream
                                                </button>-->
                        </p>
                        <div class="modal inmodal modalN" id="newStream" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated flipInY">
                                    <form method="post" class="streamAddForm">
                                        <div class="modal-header"></div>
                                        <div class="modal-body">
                                            <div id="wizard">
                                                <h1>Choose a name</h1>
                                                <div class="step-content">
                                                    <div class="m-t-md form-horizontal">
                                                        <div class="form-group"><label class="col-sm-2 control-label">Stream Name</label>
                                                            <div class="col-sm-10"><input type="text" class="form-control" name="streamName"/></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h1>Configure</h1>
                                                <div class="step-content">
                                                    <div class="m-t-md form-horizontal">
                                                        <div class="form-group"><label class="col-sm-2 control-label">Source</label>
                                                            <div class="col-sm-10">
                                                                <div class="i-checks"><label><input type="checkbox" value="TWITTER" name="streamSources"><i></i> Twitter </label></div>
                                                                <div class="i-checks"><label><input type="checkbox" value="NEWS" name="streamSources"><i></i> News </label></div>
                                                                <div class="i-checks"><label><input type="checkbox" value="DISCUSSIONS" name="streamSources"><i></i> Forums </label></div>
                                                                <div class="i-checks"><label><input type="checkbox" value="BLOGS" name="streamSources"><i></i> Blogs </label></div>
                                                            </div>
                                                        </div>
                                                        <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Terms</label>
                                                            <div class="col-sm-10"><input type="text" class="form-control" name="streamTerms"></div>
                                                        </div>
                                                        <div class="hr-line-dashed"></div>
                                                        <div class="form-group"><label class="col-sm-2 control-label">Language</label>
                                                            <div class="input-group">
                                                                <select class="language-selector form-control" name="streamLanguage">
                                                                    <option value="en">English</option>
                                                                    <option value="de">German</option>
                                                                    <option value="gr">Greek</option>
                                                                    <option value="cn">Chinese</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Location</label>
                                                            <div class="col-sm-10"><input type="text" class="form-control" name="streamLocation"></div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Pool Time(min)</label>
                                                            <div class="col-sm-10"><input type="text" class="form-control" name="streamPoolTime" value="1.0"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h1>Refine Results</h1>
                                                <div class="step-content">
                                                    <div class="m-t-md form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Blacklist</label>
                                                            <div class="col-sm-10"><input type="text" class="form-control" name="streamBlacklist"></div>
                                                        </div>
                                                        <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Tags</label>
                                                            <div class="col-sm-10"><input type="text" class="form-control" name="streamTags"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--{{#with editStream}}-->
                        <!--<div class="modal inmodal modalE" id="editStream" tabindex="-1" role="dialog" aria-hidden="true">-->
                        <!--<div class="modal-dialog">-->
                        <!--<div class="modal-content animated flipInY">-->
                        <!--<form method="post" class="streamAddForm">-->
                        <!--<div class="modal-header">-->
                        <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
                        <!--<h4 class="modal-title">Edit {{streamName}} ({{id}})</h4>-->
                        <!--</div>-->
                        <!--<div class="modal-body">-->
                        <!--<div id="wizardEdit">-->
                        <!--<h1>Edit the name</h1>-->
                        <!--<div class="step-content">-->
                        <!--<div class="m-t-md form-horizontal">-->

                        <!--<div class="form-group"><label class="col-sm-2 control-label">Stream Name </label>-->
                        <!--<div class="col-sm-10"><input type="text" class="form-control" name="streamName" value=""/></div>-->
                        <!--<input type="hidden" class="form-control" name="streamName" value=""/>-->
                        <!--</div>-->

                        <!--</div>-->
                        <!--</div>-->

                        <!--<h1>Configure</h1>-->
                        <!--<div class="step-content">-->
                        <!--<div class="m-t-md form-horizontal">-->
                        <!--<div class="form-group"><label class="col-sm-2 control-label">Source</label>-->

                        <!--<div class="col-sm-10">-->
                        <!--<div class="i-checks"><label> <input type="checkbox"-->
                        <!--value="TWITTER"-->
                        <!--name="streamSources">-->
                        <!--<i></i> Twitter </label></div>-->
                        <!--<div class="i-checks"><label> <input type="checkbox"-->
                        <!--value="NEWS"-->
                        <!--name="streamSources">-->
                        <!--<i></i> News </label></div>-->
                        <!--<div class="i-checks"><label> <input type="checkbox"-->
                        <!--value="DISCUSSIONS"-->
                        <!--name="streamSources">-->
                        <!--<i></i> Forums </label></div>-->
                        <!--<div class="i-checks"><label> <input type="checkbox"-->
                        <!--value="BLOGS"-->
                        <!--name="streamSources">-->
                        <!--<i></i> Blogs </label></div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="hr-line-dashed"></div>-->
                        <!--<div class="form-group"><label class="col-sm-2 control-label">Terms</label>-->
                        <!--<div class="col-sm-10"><input type="text"-->
                        <!--class="form-control"-->
                        <!--name="streamTerms" value=""></div>-->
                        <!--</div>-->
                        <!--<div class="hr-line-dashed"></div>-->
                        <!--<div class="form-group"><label class="col-sm-2 control-label">Language</label>-->
                        <!--<div class="input-group">-->
                        <!--<select class="language-selector form-control"-->
                        <!--name="streamLanguage">-->
                        <!--<option value="en">English</option>-->
                        <!--<option value="de">German</option>-->
                        <!--<option value="gr">Greek</option>-->
                        <!--<option value="cn">Chinese</option>-->
                        <!--</select>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="hr-line-dashed"></div>-->
                        <!--<div class="form-group"><label class="col-sm-2 control-label">Location</label>-->
                        <!--<div class="col-sm-10"><input type="text"-->
                        <!--class="form-control"-->
                        <!--name="streamLocation"></div>-->
                        <!--</div>-->

                        <!--</div>-->
                        <!--</div>-->

                        <!--<h1>Refine Results</h1>-->
                        <!--<div class="step-content">-->
                        <!--<div class="m-t-md form-horizontal">-->
                        <!--<div class="form-group"><label class="col-sm-2 control-label">Blacklist</label>-->
                        <!--<div class="col-sm-10"><input type="text"-->
                        <!--class="form-control"-->
                        <!--name="streamBlacklist"></div>-->
                        <!--</div>-->
                        <!--<div class="hr-line-dashed"></div>-->
                        <!--<div class="form-group"><label class="col-sm-2 control-label">Tags</label>-->
                        <!--<div class="col-sm-10"><input type="text"-->
                        <!--class="form-control"-->
                        <!--name="streamTags"></div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</form>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--{{/with}}-->
                    </div>
                </div>

                <div class="ibox float-e-margins">
                    <div class="ibox-content" id="ibox-content">
                        <div id="vertical-timeline" class="vertical-container dark-timeline">
                            <div class="vertical-timeline-block">

                                {{#each timelinePosts}}
                                {{#if saTwitter}}
                                {{> lvItemProfileImage}}
                                {{/if}}

                                {{#unless saTwitter}}
                                {{> lvItemMainImage}}
                                {{/unless}}
                                {{/each}}

                                <div id="showMoreResults" class="vertical-timeline-block">

                                    <div class="spiner-example">
                                        <div class="sk-spinner sk-spinner-wave">
                                            <div class="sk-rect1"></div>
                                            <div class="sk-rect2"></div>
                                            <div class="sk-rect3"></div>
                                            <div class="sk-rect4"></div>
                                            <div class="sk-rect5"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<template name="lvItemMainImage">
    <div class="vertical-timeline-block timelineItem">
        <div class="vertical-timeline-icon yellow-bg">
            <i class="fa {{source}}"></i>
        </div>
        <div class="vertical-timeline-left">
            <div class="vertical-timeline-left-days">{{dateDiff}}</div>
            <div class="vertical-timeline-left-source">{{source}}</div>
        </div>
        <div class="vertical-timeline-content">
            <div class="timelineItemHeader fa-rs">
                <p class="pull-left">
                <h2><a href="{{url}}" title="{{title}}" target="_blank">{{title}}</a></h2>
                <h4>{{subtitle}}</h4>
                </p>
            </div>

            <p class="timelineItemText collapsed"><img src="{{imgMain}}" class="timelineItemMainImage" onError="this.remove">{{text}}</p>
            <span class="vertical-date"><small>{{published}}</small></span>
        </div>
        <div class="vertical-timeline-actions">
            <div class="input-group m-b">
                <span class="input-group-addon"><i class="fa fa-meh-o"></i></span>
                <select class="form-control m-b selectSentiment" name="sentiment">
                    <option value="neutral">Neutral</option>
                    <option value="positive">Positive</option>
                    <option value="negative">Negative</option>
                </select>
            </div>
            {{#if language}}
            <div class="input-group m-b">
                <span class="input-group-addon"><i class="fa fa-microphone"></i></span>
                <input type="text" class="form-control" value="{{language}}" disabled="disabled">
            </div>
            {{/if}}
            {{#if location}}
            <div class="input-group m-b">
                <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
                <input type="text" class="form-control" value="{{location}}" disabled="disabled">
            </div>
            {{/if}}
        </div>

    </div>
</template>

<template name="lvItemProfileImage">
    <div class="vertical-timeline-block timelineItem" id="{{id}}">
        <div class="vertical-timeline-left">
            <div class="vertical-timeline-left-days">{{dateDiff}}</div>
            <div class="vertical-timeline-left-source">{{source}}</div>
        </div>
        <div class="vertical-timeline-icon" style="background-color: {{saColor}}">
            <i class="fa {{sourceIcon}}"></i>
        </div>

        <div class="vertical-timeline-content">
            <div class="timelineItemHeader">
                {{#if imgMain}}
                <p class="pull-left timelineItemImage">
                    <img src="{{imgMain}}" onError="this.remove">
                </p>
                {{/if}}
                <p class="pull-left">

                <h2><a href="{{url}}" title="{{title}}" target="_blank">{{title}}</a></h2>
                {{#if subtitle}}<h4>{{subtitle}}</h4>{{/if}}
                </p>
            </div>
            <hr class="vertical-timeline-content-separator"/>
            <p class="timelineItemText collapsed">
                <!--{{#if externalImage}}
                    <img src="{{externalImage}}" class="timelineItemMainImage" onError="this.remove">
                {{/if}}-->
                {{text}}</p>
            <span class="vertical-date"><small>{{published}}</small></span>
            {{#if externalImage}}
            <hr class="vertical-timeline-content-separator"/>
            <div class="lightBoxGallery">
                <a href="{{externalImage}}" title="{{title}}" data-gallery="{{id}}"><img src="{{externalImage}}"></a>



            </div>
            {{/if}}
        </div>
        <div class="vertical-timeline-actions">
            <div class="input-group m-b">
                <span class="input-group-addon"><i class="fa fa-meh-o"></i></span>
                <select class="form-control m-b selectSentiment" name="sentiment">
                    <option value="neutral">Neutral</option>
                    <option value="positive">Positive</option>
                    <option value="negative">Negative</option>
                </select>
            </div>

            <div class="input-group m-b">
                <span class="input-group-addon"><i class="fa fa-microphone"></i></span>
                <input type="text" class="form-control" value="{{language}}" disabled="disabled">
            </div>
            {{#if location}}
            <div class="input-group m-b">
                <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
                <input type="text" class="form-control" value="{{location}}" disabled="disabled">
            </div>
            {{/if}}
        </div>

    </div>
</template>

<template name="imageGallery">
    <div class="lightBoxGallery">

        <a href="img/gallery/1.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/1s.jpg"></a>
        <a href="img/gallery/2.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/2s.jpg"></a>
        <a href="img/gallery/3.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/3s.jpg"></a>
        <a href="img/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/4s.jpg"></a>
        <a href="img/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/5s.jpg"></a>

        <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
        <div id="blueimp-gallery" class="blueimp-gallery">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>

    </div>
</template>