
<template name="login">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <img src="/images/BL_Logo_transparent.png" alt="Buzzlogix Transparent Logo" style="width:300px;height:108px;;">
            </div>
            <h3>Welcome to Buzzlogix's Social Media Monitor</h3>
            <form class="m-t" role="form" action="{{pathFor route='dashboard'}}">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" name="userid" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
                <p>
                    <a href="{{pathFor route='forgotUsername'}}"><small>Forgot username</small></a>
                    <small> or </small>
                    <a href="{{pathFor route='forgotPassword'}}"><small>Forgot password?</small></a>
                </p>
                <p class="text-muted text-center"><small>Do not have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="{{pathFor route='register'}}">Create an account</a>
            </form>
            <p class="m-t">
                <small>Buzzlogix &copy; 2016</small>
            </p>
        </div>
    </div>
</template>