<template name="profile">
    <!-- Page heading -->
    {{> pageHeading title = 'Profile'}}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="col-lg-10">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1">{{name}} {{surname}}</a></li>
                    <li class="account"><a data-toggle="tab" href="#tab-2">Account</a></li>
                    <li class="users"><a data-toggle="tab" href="#tab-3">User</a></li>
                    <li class="stream"><a data-toggle="tab" href="#tab-4">Stream</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td><label>Name</label></td>
                                    <td><label>{{title}} {{name}} {{surname}}</label></td>
                                </tr>
                                <tr>
                                    <td><label>eMail</label></td>
                                    <td><label>{{email}}</label></td>
                                </tr>
                                <tr>
                                    <td><label>Language</label></td>
                                    <td><label>{{language}}</label></td>
                                </tr>
                                <tr>
                                    <td><label>Time Zone</label></td>
                                    <td><label>{{timeZone}}</label></td>
                                </tr>
                                <tr>
                                    <td><label>Username</label></td>
                                    <td><label>{{username}}</label></td>
                                </tr>
                            </table>
                        </div>
                        <button type="button" class="btn btn-primary block m-b"><a data-toggle="modal" class="btn btn-primary" href="#profile-form">Edit</a></button>
                    </div>
                    <div id="profile-form" class="modal fade" aria-hidden="true">
                        <div class="modal-dialog" style="width: 290px">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h3 class="m-t-none m-b">Edit {{title}} {{name}} {{surname}}' profile</h3>
                                    <form role="form" class="input-s">
                                        <div class="form-group"><label>Name</label> <input type="name" placeholder="{{name}}" class="form-control"></div>
                                        <div class="form-group"><label>Surname</label> <input type="surname" placeholder="{{surname}}" class="form-control"></div>
                                        <div class="form-group"><label>eMail</label> <input type="email" placeholder="{{email}}" class="form-control"></div>
                                        <div><button type="submit" class="btn btn-sm btn-primary pull-right m-t-n-xs"><strong>Submit</strong></button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td><label>Company</label></td>
                                    <td><label>{{accountName}}</label></td>
                                </tr>
                                <tr>
                                    <td><label>Started</label></td>
                                    <td><label>{{licenceStarted}}</label></td>
                                </tr>
                                <tr>
                                    <td><label>Expires</label></td>
                                    <td><label>{{licenceExpires}}</label></td>
                                </tr>
                                <tr>
                                    <td><label>Max Socials</label></td>
                                    <td><label>{{limitMaxSocials}}</label></td>
                                </tr>
                                <tr>
                                    <td><label>Max Streams</label></td>
                                    <td><label>{{limitMaxStreams}}</label></td>
                                </tr>
                                <tr>
                                    <td><label>Max Users</label></td>
                                    <td><label>{{limitMaxUsers}}</label></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Surname</th>
                                            <th>Title</th>
                                            <th>eMail</th>
                                            <th>Role</th>
                                            <th>Language</th>
                                            <th>Time Zone</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each users}}
                                        <tr class="gradeA">
                                            <td>{{this.name}}</td>
                                            <td>{{this.surname}}</td>
                                            <td>{{this.title}}</td>
                                            <td>{{this.email}}</td>
                                            <td>{{this.role}}</td>
                                            <td>{{this.language}}</td>
                                            <td>{{this.timezone}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Surname</th>
                                            <th>Title</th>
                                            <th>eMail</th>
                                            <th>Role</th>
                                            <th>Language</th>
                                            <th>Time Zone</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="tab-4" class="tab-pane">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Created By</th>
                                            <th>Created Date</th>
                                            <th>Status</th>
                                            <th>Sources</th>
                                            <th>Terms</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each topics}}
                                        <tr class="gradeA">
                                            <td>{{this.streamName}}</td>
                                            <td>{{this.createdBy}}</td>
                                            <td>{{this.dateCreated}}</td>
                                            <td>{{this.status}}</td>
                                            <td>{{this.topicConfig.sources}}</td>
                                            <td>{{this.topicConfig.allTerms}}</td>
                                            <td>
                                                <div class="input-group">
                                                    <select data-placeholder="Select Action" class="form-control m-b actionStream input-lg" tabindex="1">
                                                        <option value="-1">None</option>
                                                        <option value="start_{{this.id}}">Start</option>
                                                        <option value="stop_{{this.id}}">Stop</option>
                                                        <option value="-2">Edit</option>
                                                        <option value="delete_{{this.id}}">Delete</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Created By</th>
                                            <th>Created Date</th>
                                            <th>Status</th>
                                            <th>Sources</th>
                                            <th>Terms</th>
                                            <th>Actions</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>