<template name="register">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <img src="/images/BL_Logo_transparent.png" alt="Buzzlogix Transparent Logo" style="width:300px;height:108px;">
        </div>
        <h3>Register to Buzzlogix's Social Media Monitor</h3>

        <p>Create account to see it in action.</p>

        <form id="form" action="#" role="form">
            <div class="form-group">
                <select class="form-control title">
                    <option value=''>Choose Title</option>
                    {{#each title}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" name="name" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Surname" name="surname">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Company" name="company">
            </div>
            <!--<div class="form-group">-->
            <!--<input type="text" class="form-control" placeholder="group" required="" name="group">-->
            <!--</div>-->
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" name="email" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" name="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" name="password" id="password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" name="confirm">
            </div>
            <div class="form-group">
                <select class="form-control language">
                    <option value=''>Choose Language</option>
                    {{#each language}}
                    <option value="{{this.value}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <select class="form-control timezone">
                    <option value=''>Choose Timezone</option>
                    {{#each location}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <!--<div class="form-group">
                <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Agree the terms and policy
                </label></div>
            </div>-->
            <button type="submit" class="btn btn-primary block full-width m-b registerbtn">Register</button>

            <p class="text-muted text-center">
                <small>Already have an account?</small>
            </p>
            <a class="btn btn-lightblue btn-block" href="{{pathFor route='login'}}">Login</a>
        </form>
        <p class="m-t">
            <small>Buzzlogix &copy; 2016</small>
        </p>
    </div>
</template>