<template name="resetPassword">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <img src="/images/BL_Logo_transparent.png" alt="Buzzlogix Transparent Logo" style="width:300px;height:108px;;">
            </div>
            <h2>Reset password</h2>
            <form class="m-t" role="form">
                <h2>Reset current password with new one</h2>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="New password" name="password" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm new password" name="confirmPassword" required="">
                </div>
                <p><a href="{{pathFor route='login'}}"><small>Return to login</small></a></p>
                <button type="submit" class="btn btn-primary block full-width m-b">Submit</button>
            </form>
            <p class="m-t">
                <small>Buzzlogix &copy; 2016</small>
            </p>
        </div>
    </div>
</template>